apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: manojm525/frontend:k8
        ports:
        - containerPort: 80
        env:
            # Not strictly needed because React builds are static,
            # but good for documentation and dynamic cases
            - name: REACT_APP_API_URL
              value: "http://backend:5000"