apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: manojm525/backend:1.0.0
          ports:
            - containerPort: 5000
          env:
            - name: PORT
              value: "5000"
